RUNTIME_ENV=your_runtime_env
JWT_SECRET=your_jwt_secret
TOKEN_EXPIRATION=your_token_expiration
FRONT_END_PORT=your_frontend_port
PROTOCOL=your_backend_protocol
PORT=your_backend_port
HOST=your_backend_host
SENDER_EMAIL = your_sender_email
PASSWORD = your_password(your_sender_email_password)

